
$light: #F5F5F5
$dark: #5B6579
$dark3: rgba(91,101,121, 0.03)
$dark5: rgba(91,101,121, 0.05)
$dark7: rgba(91,101,121, 0.07)
$dark10: rgba(91,101,121, 0.1)
$dark15: rgba(91,101,121, 0.15)
$dark20: rgba(91,101,121, 0.2)
$dark30: rgba(91,101,121, 0.3)
$dark40: rgba(91,101,121, 0.4)
$dark50: rgba(91,101,121, 0.5)
$dark60: rgba(91,101,121, 0.6)
$dark70: rgba(91,101,121, 0.7)
$borderRad: 10px 
$accent: #0578ff
$accentHover: #3392ff
$blue: #0578ff


=placeholder($color)
  &::-webkit-input-placeholder 
      color: $color
  &::-moz-placeholder   
      color: $color
  &::-moz-placeholder       
      color: $color
  &::-ms-input-placeholder 
      color: $color   