@import variables

.cardCont
    margin: 2rem
    max-width: 250px
    width: 100%

.padding
    width: 100%
    padding: 2rem
    position: relative

.body
    &.imgFit
        height: 250px

@media (max-width: 500px)
    .cardCont
        margin: 2rem 0
