@import variables

.wrapper
    margin: 2rem 0
    max-width: 800px
    width: 100%
    display: flex
    justify-content: center

.phone
    min-width: 275px
    max-width: 275px
    margin: 0 3rem
    position: relative
    img
        width: 100%
        display: block
        z-index: 2
        position: relative
    & .shadow
        position: absolute
        top: 2rem
        right: 2rem
        bottom: 1.5rem
        left: 2rem
        box-shadow: 0 30px 50px 0 $dark15
        z-index: 1

.icon
    position: absolute
    padding: 6px
    background: white
    z-index: 2
    img
        width: 100%
        height: 100%
        object-fit: contain

#light
    height: 40px
    width: 40px
    top: 318px
    left: 145px
    border-radius: 9px

#dark
    height: 40px
    width: 40px
    top: 318px
    left: 145px
    border-radius: 50%
    padding: 7px
    background-color: #404251

@media (max-width: 750px)
    .wrapper
        flex-direction: column
        align-items: center
    .phone
        margin: 0
        &:first-child
            margin-bottom: 3rem
