@import variables

\:host ::ng-deep
    margin: 2rem
    max-width: 450px
    width: 100%
    .body
        &.imgFit
            height: 360px

@media (max-width: 500px)
    \:host
        margin: 2rem 0

figcaption
    margin-top: 1rem
    font-weight: bold
    color: $dark30
    font-size: 1.3rem
