@import variables

.border
    border: dashed 2px $dark20
    border-radius: $borderRad

#square
    height: 296px
    width: 296px
#wide
    height: 125px
    width: 296px

#narrow
    height: 296px
    width: 125px
