@import variables

.cardCont
    margin: 2rem

.body
    padding: 2rem
    max-height: initial

.grid
    display: grid
    grid-template-columns: repeat(4, 100px)
    grid-template-rows: repeat(3, 100px)
    grid-gap: 2rem
    img
        object-fit: contain
        width: 100%
        height: 100%

@media (max-width: 650px)
    .grid
        grid-template-columns: repeat(4, 75px)
        grid-template-rows: repeat(3, 75px)

@media (max-width: 500px)
    .cardCont
        margin: 2rem 0
        width: 100%
    .grid
        grid-template-columns: repeat(3, 75px)
        grid-template-rows: repeat(4, 75px)

@media (max-width: 350px)
    .grid
        grid-template-columns: repeat(3, 60px)
        grid-template-rows: repeat(4, 60px)
