@import variables

.page
    position: relative
    height: 100%
    width: 100%

router-outlet
    display: none

.nav
    width: 100%
    height: 100px
    padding: 0 4rem
    color: $dark40
    display: flex
    position: fixed
    z-index: 999
    pointer-events: none
    a
        pointer-events: all

// changed
.navTop
    justify-content: space-between
    align-items: center
    top: 30px
    left: 0

.navBottom
    justify-content: flex-end
    align-items: center
    bottom: 0
    left: 0

.socialCont
    position: fixed
    z-index: 999
    pointer-events: all
    bottom: 0
    left: 0
    display: flex
    flex-direction: column
    margin-left: 1rem
    margin-bottom: 1rem
    text-align: center
    h3
        margin-bottom: .5rem
        color: rgba(40, 45, 60, 0.35)

.socialBtnCont
    display: flex

.share
    border-radius: $borderRad
    font-size: 1.7rem
    cursor: pointer
    color: white
    height: 55px
    width: 55px
    display: flex
    align-items: center
    justify-content: center

#facebook
    background-color: #3B5998

#twitter
    margin-left: 1rem
    background-color: #00aced

@media (max-width: 900px)
    .socialCont
        display: none

@media (max-width: 700px)
    .nav
        display: none
