<div class="wrapper">
  <div class="logoHeader">
    <a routerLink="/home"><img src="/assets/logoGray.png" alt="png" /></a>
  </div>
  <!------COLOR SECTION------>
  <ng-container *ngIf="ready">
    <div [@FadeInOutState]="loadState" class="allSections">
      <div class="section" style="border: none; padding-top: 2rem">
        <div class="flexCenter">
          <app-card [caption]="">
            <div class="body" [class.imgFit]="imgFit">
              <img [src]="src" />
            </div>
          </app-card>
        </div>
        <div class="uploadCont">
          <button>UPLOAD NEW</button>
          <input type="file" (change)="handleImgUpload($event)" title=" " />
        </div>
        <div class="err" *ngIf="error">{{ error }}</div>
        <div class="more">
          <i class="fas fa-chevron-down" (click)="scrollDown()"></i>
        </div>
      </div>
      <balance-section
        id="balance-section"
        [imgFit]="imgFit"
        [src]="origSrc"
      ></balance-section>
      <color-section [imgFit]="imgFit" [src]="src"></color-section>
      <colorblind-section
        [imgFit]="imgFit"
        [setImg]="img"
        (done)="sectionDone()"
      ></colorblind-section>
      <scale-section [imgFit]="imgFit" [src]="src"></scale-section>
      <proportions-section [src]="src"></proportions-section>
      <pixelate-section
        [imgFit]="imgFit"
        [setImg]="img"
        (done)="sectionDone()"
      ></pixelate-section>
      <blur-section [imgFit]="imgFit" [src]="src"></blur-section>
      <div class="adobe-banner section">
        <a
          class="desktop"
          href="https://adobe.prf.hn/click/camref:1100lr4fq/creativeref:1100l89288"
          rel="sponsored"
          ><img
            src="https://adobe-creative.prf.hn/source/camref:1100lr4fq/creativeref:1100l89288"
            width="728"
            height="90"
            border="0"
        /></a>
        <a
          class="mobile"
          href="https://adobe.prf.hn/click/camref:1100lr4fq/creativeref:1101l89809"
          rel="sponsored"
          ><img
            src="https://adobe-creative.prf.hn/source/camref:1100lr4fq/creativeref:1101l89809"
            width="300"
            height="250"
            border="0"
        /></a>
      </div>
      <slices-section
        [setImg]="origImg"
        (done)="sectionDone()"
      ></slices-section>
      <app-icon-section [src]="src"></app-icon-section>
      <grid-section [imgFit]="imgFit" [setSrc]="src"></grid-section>
    </div>
  </ng-container>
  <ng-container *ngIf="loadState === 'loading'">
    <div class="padding">
      <div class="spinner"></div>
    </div>
  </ng-container>
</div>
