@import variables

.wrapper
    width: 100%
    height: 100%
    padding: 0 2rem 0 2rem
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    background-color: $light

.allSections
    margin-bottom: 80px

.adobe-banner
    padding: 3rem 1rem
    text-align: center
    a
        max-width: 100%
        &.mobile
            display: none
        img
            max-width: 100%
            height: auto
            margin: 0 auto
            display: block

.logoHeader
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    padding: 0 1rem
    img
        width: 100%
        max-width: 300px
        opacity: 0.4

.uploadCont
    position: relative
    display: inline-block
    margin-bottom: 1.5rem
    transition: 0.3s ease
    input
        position: absolute
        left: 0
        top: -20px
        right: 0
        bottom: 0
        opacity: 0
        max-width: 100%
        z-index: 2
        cursor: pointer
    button
        background-color: #4685FF
        color: white
        border-radius: 20rem
        padding: 1.2rem 2.5rem
        font-weight: 800
        font-size: 1.15rem
        letter-spacing: 2px
    &:after
        content: ""
        position: absolute
        border-radius: 20rem
        top: .5rem
        right: .5rem
        bottom: 0
        left: .5rem
        box-shadow: 0 0 30px #4685FF
        transition: 0.3s ease
    &:hover
        transform: scale(1.1)
        &:after
            box-shadow: 0 0 40px #4685FF

.err
    color: #F26152
    margin: -.5rem 0 .5rem 0

.more
    width: 100%
    text-align: center
    font-size: 2.5rem
    opacity: .3
    animation: arrow 1s ease-in-out infinite
    i
        padding: 1rem
        cursor: pointer

@keyframes arrow
    0%
        transform: translateY(0)
    50%
        transform: translateY(8px)
    100%
        transform: translateY(0)

@media (max-width: 900px)
    .allSections
        margin-bottom: 1rem

@media (max-width: 700px)
    .logoHeader
        height: initial
        padding-top: 50px
        img
            max-width: 250px
    .adobe-banner
        a
            &.mobile
                display: block
            &.desktop
                display: none

@media (max-width: 500px)
    .wrapper
        padding: 0 1rem 0 1rem
