@import variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'proxima-nova', sans-serif
    font-weight: bold
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased
    color: $dark50
    -webkit-overflow-scrolling: touch
    overflow: hidden
    background-color: $light

button
    border: none
    background: none
    cursor: pointer
    font-family: 'proxima-nova', sans-serif

input
    border: none
    border-radius: 0
    appearance: none
    background: none
    font-family: inherit
    &:-webkit-autofill
        -webkit-transition-delay: 99999s

@-webkit-keyframes autofill
    to 
    color: black
    background: transparent

a
    text-decoration: none
    outline: 0
    color: inherit

.section
    border-top: 2px solid $dark5
    width: 100%
    text-align: center
    padding: 5rem 0
    h1
        color: $dark40
        font-size: 3rem
        line-height: 3rem
        margin-bottom: 1rem
        font-weight: 900
        letter-spacing: 2px
        word-break: break-all
    h2
        color: $dark40
        font-size: 1.3rem
        font-weight: bold
        line-height: 2rem
        max-width: 960px
        margin: 0 auto 2rem auto

.flexCenter
    display: flex
    flex-wrap: wrap
    justify-content: center

.card
    position: relative
    & .shadow
        position: absolute
        top: 2rem
        right: 2rem
        bottom: 1.5rem
        left: 2rem
        box-shadow: 0 30px 50px 0 $dark15
        z-index: 1

.body
    max-height: 360px
    padding: 2rem
    border-radius: $borderRad
    background-color: white
    position: relative
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    &.imgFit
        img
            height: 100%
            object-fit: contain
    img
        width: 100%

.spinner
    height: 50px
    width: 50px
    border: 5px solid #0578ff
    border-color: #0578ff #0578ff #0578ff transparent
    animation: spin 0.5s ease-in-out infinite
    border-radius: 50%
    position: absolute
    top: calc(50% - 25px)
    left: calc(50% - 25px)

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@media (max-width: 500px)
    .section
        padding: 3rem 0

@media (max-width: 400px)
    .section
        h1
            font-size: 2.25rem
        h2
            font-size: 1.2rem
