@import variables

.wrapper
    width: 100%
    height: 100%
    padding: 40px 0 0 0
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    background-color: $light
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto 1fr
    position: relative
// changed
.adobe-banner
    padding: 0 1rem
    margin-bottom: 5rem
    text-align: center
    button
        overflow: hidden
        border-radius: 1rem
        max-width: 50%
        background: white
        position: relative
        display: inline-flex
        box-shadow: 0 10px 30px -5px rgba(0,0,0,0.2)
        img
            max-width: 100%
            height: auto
            pointer-events: none
        .outer
            position: relative
            z-index: 2
        .inner
            position: absolute
            top: 50%
            display: flex
            animation: marquee 7s linear infinite

// create infinite marquee effect
@keyframes marquee
    0%
        transform: translateX(0) translateY(-50%)
    100%
        transform: translateX(-100%) translateY(-50%)

.banner
    position: absolute
    top: 0
    padding: .5rem
    background: red
    color: white
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    img
        width: 100%
        max-width: 500px

.content
    width: 100%
    max-width: 500px
    margin: 0 auto
    text-align: center
    padding: 0 1rem

.logo
    width: 100%
    max-width: 400px
    display: block
    margin: 0 auto 1.5rem auto
    padding: 0 1rem
a
    display: block
    margin: 0 auto 1.5rem auto
    color: $dark30
    text-decoration: underline

h3
    color: $dark40
    font-size: 1.3rem
    font-weight: bold
    line-height: 2rem
    margin-bottom: 2.5rem

button
    display: block
    margin: 0 auto

.uploadCont
    position: relative
    display: inline-block
    margin-bottom: 1.5rem
    transition: 0.3s ease
    input
        position: absolute
        left: 0
        top: -20px
        right: 0
        bottom: 0
        opacity: 0
        max-width: 100%
        z-index: 2
        cursor: pointer
    button
        background-color: #4685FF
        color: white
        border-radius: 20rem
        padding: 1.2rem 2.5rem
        font-weight: 800
        font-size: 1.15rem
        letter-spacing: 2px
    &:after
        content: ""
        position: absolute
        border-radius: 20rem
        top: .5rem
        right: .5rem
        bottom: 0
        left: .5rem
        box-shadow: 0 0 30px #4685FF
        transition: 0.3s ease
    &:hover
        transform: scale(1.1)
        &:after
            box-shadow: 0 0 40px #4685FF

.err
    color: #F26152
    margin: -.5rem 0 .5rem 0

.sample
    color: $dark
    border-bottom: 2px solid $dark
    padding: 5px 0
    font-weight: bold
    font-size: 1.1rem
    margin-bottom: 2rem

.bg
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    overflow: hidden
    img
        max-height: 100%
        width: 100%
        object-fit: contain

@media (max-width: 1024px)
    .bg
        width: initial
        img
            height: 400px
            width: initial

    // changed
@media (max-width: 700px)
    .wrapper
        padding-top: 1rem
    .bg
        img
            height: 250px
    .adobe-banner
        margin-bottom: 5rem
        button
            border-radius: 0.5rem
            max-width: 100%
            img
                max-width: 100%
                height: auto
                margin: 0 auto
                display: block

@media (max-width: 400px)
    .wrapper
        padding-top: 60px
    h3
        font-size: 1.2rem
    .bg
        img
            height: 200px
