@import variables

.cardCont
    margin: 2rem
    max-width: 800px
    width: 100%

.body
    padding: 3rem
    overflow: hidden
    &.imgFit
        height: 360px
    img
        width: 100%
        z-index: 2
        filter: saturate(0)
        opacity: 0.5

.grid
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: url("/assets/grid.svg")
    background-size: cover
    background-position: center center
    transform: scale(1.1)

@media (max-width: 500px)
    .cardCont
        margin: 2rem 0
